---
import { Icon } from 'astro-icon/components'
---

  <div class="container" >
    <h1>Contáctanos!</h1>
    <div class="icon-wrapper">
      <p>Envianos un mensaje</p>
      <Icon name="insta" id="insta" />
    </div>
  </div>

<script>
  const wrapper = document.querySelector("div.icon-wrapper");

  if (wrapper===null) {
    console.log('wrapper is null');
  }else{

    const username = 'mang_teamv';
    const appLink = `instagram://user?username=${username}`;
    const webLink = `https://instagram.com/${username}`;

    const open = (isMobile:boolean) => {
      if (isMobile) {
        window.location.href = appLink;
      } else {
        window.open(webLink,"_blank");
      }
    }

    wrapper.addEventListener("click", () => {
      const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
      open(isMobile);
    });
  }

</script>

<style>
    .container {
        padding: 1rem;
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon-wrapper{
      text-decoration: none;
      color: black;
      cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #insta{
        width: 50px;
        height: 50px;
      cursor: pointer;
    }

    #insta:hover{
      scale: 1.1;
    }
    
</style>